<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eleccionesUGR.elecciones215" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EleccionesUGR2015</name>
    <description>
        Aplicación para seguir las elecciones de la UGR
    </description>
    <author email="OSL" href="http://osl.ugr.es/">
        Israel + Oficina de Software Libre de la Universidad de Granada
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
</widget>
